
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: rgb(46, 37, 130);    
    background-color: rgb(251, 235, 5);
}

.grid-container{
    height:100vh;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr 5px 1fr 5px 1fr;
    grid-template-areas:
    "logo ceg li"
    "sep sep sep"
    "carousel  carousel carousel"
    "sep2 sep2 sep2"
    "foot  foot foot"
}

@media screen and (min-width: 1200px) {
  .grid-container{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}

.logo img{
    grid-area: logo;
    height: 10vh;
    padding-top: 5px;
}

.ceg{
    grid-area: ceg;
    justify-self: left;
    align-self: center;
    font-weight: 900;
    font-size: 3vw;
    font-style: italic;
    margin-top: 25px;
    text-shadow: 1px 1px 3px rgb(190, 184, 184);
}

/* If the screen size is 601px wide or less, set the font-size */
@media screen and (max-width: 1000px) {
  .ceg {
    font-size: 3.5vw;
  }
}

/* If the screen size is 600px wide or less, set the font-size to: */
@media screen and (max-width: 600px) {
  .ceg {
    font-size: 5.5vw;
  }
}

/* If the screen size is 400px wide or less, set the font-size to: */
@media screen and (max-width: 400px) {
  .ceg {
    font-size: 20px;
  }
}

ul{
    grid-area: li;
    list-style: none;
    font-size: 1.5vw;
    margin-bottom: 0px;
    align-self: center;
}

/* If the screen size is 1200px wide or more, set the font-size */
@media screen and (max-width: 1200px) {
  ul {
    font-size: 2vw;
  }
}

/* If the screen size is 800px wide or less, set the font-size to: */
@media screen and (max-width: 800px) {
  ul {
    font-size: 2vw;
    display: grid;
  }
}

/* If the screen size is 600px wide or less, set the font-size to: */
@media screen and (max-width: 600px) {
  ul {
    font-size: 3vw;
  }
}

/* If the screen size is 400px wide or less, set the font-size to: */
@media screen and (max-width: 400px) {
  ul {
    font-size: 15px;
  }
}

li{
  float: left;
  margin-right: 20px;
  text-shadow: 1px 1px 3px rgb(255, 255, 255);
  font-weight: 500;
}

ul li a{
 color: rgb(46, 37, 130); 
}

.footer{
    grid-area: foot;
    background-color: rgb(251, 235, 5);
    margin-left: 20px;
    margin-right: 20px;;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

.footer p{
  text-align: center;
}

button{
  background-color: rgba(10, 10, 10, 0.7);
  position: absolute;
  bottom: 50%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  font-weight: 700;
  box-shadow: 10px 10px 10px rgb(39, 38, 38);
  padding: 10px;
  transition: 0.3s;
}

button:hover{
  box-shadow: 15px 15px 10px rgb(39, 38, 38);
  font-size: 2.1rem;
}

button a {
  color: rgb(251, 235, 5);
}

/* Slideshow container */
.slideshow-container {
    grid-area: carousel;
    position: relative;   
    background-color: rgb(46, 37, 130);
 
    }
    
  /* Hide the images by default */
  .mySlides {
    display: none;
    position: relative;
  }

  .mySlides img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100vw;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 2vw;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    padding: 5px;
    background-color: rgba(10, 10, 10, 0.5);
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 2.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .7}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .7}
    to {opacity: 1}
  }

  .separator{
    background-color: black;
    grid-area: sep;
  }

  .separator2{
    background-color: black;
    grid-area: sep2;
  }


/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

