@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {

}

.separator {
    height: 8px;
    width: 100vw;
    background-color: rgb(46, 37, 130);
 }


header {
  background-color: rgb(251, 235, 5);
}

/* Logo image */
.logo img {
  height: auto;
  width: 10vw;
}
 
 /* Slideshow container */
.slideshow-container {
  max-width: 50vw;
  position: relative;
  margin: auto;
  background-color: rgb(255, 255, 255)
  }


/* Hide the images by default */
.mySlides {
  display: none;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 5vw;
  padding: 2vw 1vw;
  position: absolute;
  bottom: 15vw;
  width: 100%;
  text-align: center;
  background-color: rgba(10, 10, 10, 0.5);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

