
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: rgb(46, 37, 130); 
    /*background-color: rgb(251, 235, 5);*/
    background-color: rgb(251, 235, 5);
}

.grid-container{
    background-color: rgb(251, 235, 5);
    height:100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 100px 5px auto 5px auto;
    grid-template-areas:
    "logo ceg li"
    "sep sep sep"
    "carousel  carousel carousel"
    "sep2 sep2 sep2"
    "foot foot foot";   
}

.logo img{
    grid-area: logo;
    height: 90px;
    padding-top: 5px;
}

.ceg{
    grid-area: ceg;
    justify-self: left;
    font-weight: 900;
    font-size: 50px;
    font-style: italic;
    margin-top: 32px;
    text-shadow: 1px 1px 3px rgb(255, 255, 255);
}

ul{
    position: relative;
    grid-area: li;
    list-style: none;
    font-size: 22px;
    top: 35px;
    display: flex;
    flex-flow: row;
}

li{
  margin-right: 20px;
  text-shadow: 1px 1px 3px rgb(255, 255, 255);
  font-weight: 500;
}

ul li a:link {
  color: rgb(46, 37, 130); 
}

ul li a:visited {
  color: rgb(46, 37, 130); 
}

ul li a:active {
  color: rgb(0, 0, 0);
}

.footer{
    grid-area: foot;
    background-color: rgb(251, 235, 5);
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer p{
  text-align: center;
}

button{
  background-color: rgba(10, 10, 10, 0.7);
  position: absolute;
  bottom: 50%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  font-weight: 700;
  box-shadow: 10px 10px 10px rgb(39, 38, 38);
  padding: 10px;
  transition: 0.3s;
}

button:hover{
  box-shadow: 15px 15px 10px rgb(39, 38, 38);
  font-size: 2.1rem;
}

button a {
  color: rgb(251, 235, 5);
}

/* Slideshow container */
.slideshow-container {
    grid-area: carousel;
    position: relative;   
    background-color: rgb(46, 37, 130);
    }
    
  /* Hide the images by default */
  .mySlides {
    display: none;
    position: relative;
  }

  .mySlides img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100vw;
    min-height: 81vh;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 2vw;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    padding: 5px;
    background-color: rgba(10, 10, 10, 0.5);
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 2.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .7}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .7}
    to {opacity: 1}
  }

  .separator{
    grid-area: sep;
    background-color: rgb(0, 0, 0);
  }

  .separator2{
    grid-area: sep2;
    background-color: rgb(0, 0, 0);
    }

  .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }


/* Extra small devices (phones, 599px and down) */
@media only screen and (max-width: 599px) {
  
  .logo img{
    padding: 0;
  }

  .ceg{
    font-size: 30px;
    margin-top: 15px;
    margin-left: 6px;
    width: 150px;
  }

  ul{
    font-size: 15px;
    top: 10px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    text-align: end;
  }

  ul li{
    margin-right: 10px;
      } 

  .grid-container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }  

  .mySlides img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;

    }    
    
  .text{
    font-size: 17px;;
  }

  .footer{
    font-size: 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .ceg{
    font-size: 35px;
    margin-top: 45px;;
  }

  .grid-container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  .mySlides img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;

  }

  ul{
    font-size: 15px;
    top: 12px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    text-align: end;
  }

  ul li{
    margin-right: 10px;
      } 
  }

/* Large devices (laptops/desktops, 900px and up) */
@media screen and (min-width: 900px) {
  .ceg{
    font-size: 40px;
    margin-top: 40px;
  }

  .grid-container{
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  ul {
    font-size: 20px;
    margin-top: 46px;
    margin-right: 0px;
    display: flex;
    flex-flow: row;
   }

  ul li{
    margin-right: 5px;
  } 
}

/* Large devices (laptops/desktops, 1250px and up) */
@media screen and (min-width: 1250px) {
  .ceg{
    font-size: 45px;
    margin-top: 36px;;
  }

  ul {
    font-size: 32px;
    margin-right: 15px;
    margin-top: 36px;
   }

   ul li{
     margin-left: 10px;
   }
}

/*Larger screen then 1600px*/
@media screen and (min-width: 1600px) {
  .grid-container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  ul li{
    font-size: 35px;
    margin-right: 20px;
    margin-top: 0px;
  }

  .mySlides img{
    width: 1300px;
  }
}