
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: rgb(46, 37, 130); 
    background-color: rgb(251, 235, 5);
}

.grid-container{
    background-color: rgb(251, 235, 5);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 110px auto 45%;
    grid-template-rows: 100px 5px auto 5px 80px;
    grid-template-areas:
    "logo ceg li"
    "sep sep sep"
    "carousel  carousel carousel"
    "sep2 sep2 sep2"
    "foot foot foot";   
}

.logo img{
    grid-area: logo;
    height: 90px;
    padding-top: 5px;
}

.ceg{
    grid-area: ceg;
    justify-self: left;
    font-weight: 900;
    font-size: 50px;
    font-style: italic;
    margin-top: 32px;
    text-shadow: 1px 1px 3px rgb(255, 255, 255);
}

a {  
  text-decoration: none; /* no underline */
}

.ceg a:link {
  color: rgb(46, 37, 130); 
}

.ceg a:visited {
  color: rgb(46, 37, 130); 
}

.ceg a:active {
  color: rgb(0, 0, 0);
}

ul{
    position: relative;
    grid-area: li;
    list-style: none;
    font-size: 22px;
    display: flex;
    flex-flow: row;
    justify-self: end;
}

li{
  margin-right: 20px;
  text-shadow: 1px 1px 3px rgb(255, 255, 255);
  font-weight: 500;
}

ul li a:link {
  color: rgb(46, 37, 130); 
}

ul li a:visited {
  color: rgb(46, 37, 130); 
}

ul li a:active {
  color: rgb(0, 0, 0);
}

.footer{
    grid-area: foot;
    background-color: rgb(251, 235, 5);
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer p{
  text-align: center;
}

button{
  background-color: rgba(10, 10, 10, 0.7);
  position: absolute;
  bottom: 50%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  font-weight: 700;
  box-shadow: 10px 10px 10px rgb(39, 38, 38);
  padding: 10px;
  transition: 0.3s;
}

button:hover{
  box-shadow: 15px 15px 10px rgb(39, 38, 38);
  font-size: 2.1rem;
}

button a {
  color: rgb(251, 235, 5);
}

/* Slideshow container */
.slideshow-container {
    grid-area: carousel;
    position: relative;   
    }
    
  /* Hide the images by default */
  .mySlides {
    display: none;
    position: relative;
  }

  .mySlides img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100vw;
    /* min-height: 81vh; */
    min-height: calc(100vh - 190px);
    max-height: calc(100vh - 190px);
    width: 100%;
    object-fit: cover;
  }

  .tarifak img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100vw;
    /* min-height: 81vh; */
    min-height: calc(100vh - 190px);
    max-height: calc(100vh - 190px);
    width: 100%;
    object-fit: contain;
  }

  .chessboard {
    height: 100%;
    background-color: rgb(255, 255, 255); 
    background-image:
    -moz-linear-gradient(45deg, #000 25%, transparent 25%), 
    -moz-linear-gradient(-45deg, #000 25%, transparent 25%),
    -moz-linear-gradient(45deg, transparent 75%, #000 75%),
    -moz-linear-gradient(-45deg, transparent 75%, #000 75%);
  background-image:
    -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #000), color-stop(.25, transparent)), 
    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #000), color-stop(.25, transparent)),
    -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #000)),
    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #000));

  -moz-background-size:100px 100px;
  background-size:100px 100px;
  -webkit-background-size:100px 101px; /* override value for shitty webkit */
  
  background-position:0 0, 50px 0, 50px -50px, 0px 50px; 

  display: flex;
  flex-flow: column;
  justify-content: center;
  }

  table, th, td {
    border: 2px solid rgb(0, 0, 0); 
    border-radius: 4px;
    text-align: center;
    table-layout: auto;
    font-weight: 700;
    box-shadow: 1px 2px black;
    font-size: auto;
  }
  
  table{
    height: 80%;
    width: 100vw;
    border: none;
    border-collapse: separate;
    border-spacing: 0px;
    background-color: rgba(0, 0, 0, 0.582);
    padding: 10px;
  }

  th{
    font-weight: 700;
    line-height: 50px;
    /*background-color: rgb(248, 234, 35);
    color: rgb(46, 37, 130);*/
    color: rgb(46, 37, 130); 
    background-color: #e4d171;
  }

  tr{
    line-height: 30px;
    background-color: rgba(97, 97, 93, 0.801);
    color: rgba(0, 0, 0, 0.911); 
    width: 100vw;
  }

  .active-row{
    color: rgb(46, 37, 130); 
    background-color: #e4d171;
  }

  .map{
    overflow:hidden;
    padding-bottom: 56.25%;
    position:relative;
    height:0;
    border: 10px solid rgba(0, 0, 0, 0.582);
  }

  .map iframe{
      left:0;
      top:0;
      height: 100%;
      width: 100%;
      position:absolute;
  } 

  .rolunk th{
    font-weight: 500;
    color: rgb(46, 37, 130); 
    background-color: #e4d171;
  }

  .rolunk th p{
    padding: 80px;
    text-align: justify;
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 2vw;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px 0px;
    background-color: rgba(10, 10, 10, 0.5);
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 2.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .7}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .7}
    to {opacity: 1}
  }

  .separator{
    grid-area: sep;
    background-color: rgb(0, 0, 0);
  }

  .separator2{
    grid-area: sep2;
    background-color: rgb(0, 0, 0);
    }

/* Push */
@-webkit-keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.hvr-push {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-push:hover, .hvr-push:focus, .hvr-push:active {
  -webkit-animation-name: hvr-push;
  animation-name: hvr-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Extra small devices (phones, 599px and down) */
@media only screen and (max-width: 599px) {
  
  .logo img{
    padding: 0;
    margin-top: 5px;
  }

  .ceg{
    font-size: 25px;
    margin-top: 27px;
    margin-left: 6px;
    width: 130px;
  }

  ul{
    font-size: 15px;
    display: flex;
    flex-flow: column;
    text-align: end;
    align-self: center;
    padding: 0px;
  }

  ul li{
    margin-right: 10px;
  } 

  .rolunk th{
    font-size: 18px;
    line-height: 2;
  }

  .rolunk th p{
    padding: 20px;
  }

  .grid-container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    grid-template-columns: 110px auto 80px;
    padding: 0;
  }  

  .mySlides img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }    
  
  .text{
    font-size: 17px;
  }
  
  .footer{
    font-size: 10px;
  }

  tr{
    font-size: 14px;
  }

  table{
    padding: 2px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .ceg{
    font-size: 35px;
    margin-top: 45px;;
  }

  .grid-container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    grid-template-columns: 110px auto 80px;
  }

  .mySlides img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }

  ul{
    font-size: 15px;
    display: flex;
    flex-flow: column;
    text-align: end;
    align-self: center;
  }

  ul li{
    margin-right: 10px;
    } 

  .rolunk th{
    font-size: 22px;
    line-height: 2;
    }  
  }

/* Large devices (laptops/desktops, 900px and up) */
@media screen and (min-width: 850px) {
  .ceg{
    font-size: 33px;
    margin-top: 48px;
  }

  .grid-container{
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  ul {
    font-size: 23px;
    margin-top: 64px;
    display: flex;
    flex-flow: row;
   }

  ul li{
    margin-right: 10px;
  } 
}

/* Large devices (laptops/desktops, 1100px and up) */
@media screen and (min-width: 1100px) {
  .ceg{
    font-size: 45px;
    margin-top: 36px;;
  }

  ul {
    font-size: 28px;
    margin-right: 10px;
    margin-top: 64px;
   }

   ul li{
     margin-left: 10px;
   }
}

/*Design by Roland Budai copyright*/
